#contact {
  .cw {
    h2 {
      font-family: "Ibarra Real Nova", serif;
      font-weight: 700;
      @include text(40px, 42px, -0.36px);
    }
    .hero {
      @include pY(24px, 32px);
      border-top: 1px solid $grayish-dark-blue015;
      border-bottom: 1px solid $grayish-dark-blue015;

      .body {
        p {
          font-family: "Public Sans", sans-serif;
          font-weight: 400;
          @include text(15px, 30px);
          opacity: 0.8;
          @include mY(24px);
        }
        .social {
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }
    .form-contact {
      @include pY(32px, 80px);
      form {
        margin-top: 24px;
        .row {
          @include flexColumn(8px);
          margin-bottom: 24px;
          label {
            font-family: "Public Sans", sans-serif;
            font-weight: 700;
            @include text(13px, 30px);
          }
        }
        .btn.primary {
          width: 200px;
          height: 48px;
          font-family: "Public Sans", sans-serif;
          font-weight: 400;
          @include text(12px, 14px, 2px);
        }
        input,
        textarea {
          background-color: $grayish-dark-blue010;
          border: 1px solid $grayish-dark-blue010;
          resize: none;
          padding: 9px 16px;

          &:focus {
            border-color: $slightly-desaturated-cyan;
          }

          &.error {
            border-color: $bright-red;
          }

          &::placeholder {
            color: $grayish-dark-blue040;
          }
        }
        textarea {
          height: 96px;
        }
        p.error {
          color: $bright-red;
          font-family: "Public Sans", sans-serif;
          font-style: italic;
          font-weight: 400;
          @include text(10px, 12px);
        }
      }
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #contact {
    .cw {
      .hero {
        @include pY(32px);
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #contact {
    .cw {
      .hero,
      .form-contact {
        @include grid1R(125px);
        grid-template-columns: 350px auto;
      }
      .hero {
        @include pY(48px);
        .body {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
