body {
  color: $grayish-dark-blue;
  background-color: $very-light-grey;
}

.cw {
  width: 311px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  transition: all ease 0.5s;
  @include flexCenter;
  text-transform: uppercase;

  &.primary {
    background-color: $dark-blue;
    color: var(--white);
    border: none;
  }

  &.secondary {
    border: 1px solid $grayish-dark-blue;
    @include text(12px, 14px, 2px);
  }
}

@mixin heading_3 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: normal;
  @include text(32px, 36px, -0.29px);
}
@mixin body_1 {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  @include text(16px, 30px);
}
@mixin body_2 {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  @include text(15px, 30px);
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  .cw {
    width: 688px;
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  .cw {
    width: 1110px;
  }
}
