#home {
  &__hero {
    margin-bottom: 96px;
    .text {
      background-color: $very-light-grey;
      h1 {
        font-family: "Ibarra Real Nova", serif;
        font-weight: 700;
        @include text(40px, 42px, -0.36px);
        @include pY(24px, 32px);
      }
      .btn.about {
        background-color: $dark-blue;
        @include wh(200px, 48px);
        display: grid;
        grid-template-columns: 48px auto;
        &:hover {
          background-color: $slightly-desaturated-cyan;
          svg {
            g {
              stroke: var(--white);
            }
          }
        }
        .arrow {
          background-color: $dark01;
          @include flexCenter;
        }
        span {
          color: var(--white);
          font-family: "Public Sans", sans-serif;
          font-weight: 400;
          @include text(12px, 14px, 2px);
          text-transform: uppercase;
          @include flexCenter;
        }
      }
    }
  }
  &__about {
    img {
      padding-bottom: 32px;
      @include wh(311px, 346px);
    }
    .text {
      border-top: 1px solid $grayish-dark-blue015;
      border-bottom: 1px solid $grayish-dark-blue015;
      @include pY(32px, 50px);

      h2 {
        font-family: "Ibarra Real Nova", serif;
        font-weight: 700;
        @include text(40px, 42px, -0.36px);
      }
      p {
        font-family: "Public Sans", sans-serif;
        font-weight: 400;
        @include text(16px, 30px);
        opacity: 0.8;
        @include mY(28px, 24px);
      }
      .btn {
        @include wh(202px, 48px);
      }
    }
  }
  &__interested {
    @include pY(115px, 80px);
    text-align: center;

    h2 {
      margin-bottom: 40px;
      font-family: "Ibarra Real Nova", serif;
      font-weight: 700;
      @include text(40px, 42px, -0.36px);
    }
    .btn {
      @include wh(162px, 48px);
      @include mX(auto);
    }
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  #home {
    &__hero {
      position: relative;
      .text {
        position: absolute;
        bottom: 0;
        width: 514px;
        h1 {
          @include pY(56px, 48px);
        }
      }
    }
    &__about {
      @include flexSpaceBetween;
      gap: 69px;
      img {
        padding-bottom: 0;
        @include wh(280px, 600px);
      }
      .text {
        @include pY(50px, 46px);
      }
    }
    &__interested {
      @include pY(96px);
      text-align: left;
      @include grid1R(177px);
      align-items: center;

      .btn {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          background-color: $grayish-dark-blue015;
          @include wh(113px, 1px);
          left: -145px;
          top: 24px;
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #home {
    &__hero {
      .text {
        width: 445px;
        h1 {
          @include pY(56px, 53px);
          @include text(50px, 50px, -0.45px);
        }
      }
    }
  }
}
